In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [12]:
df = pd.read_csv('fichier_nettoye.csv')

In [13]:
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,weekday,hour,Distance_km,avg_per_km
0,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1.0,2015.0,5.0,3.0,19.0,1.683323,4.455474
1,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1.0,2009.0,7.0,4.0,20.0,2.457590,3.133151
2,9.7,2012-02-17 09:32:00+00:00,-73.975187,40.745767,-74.002720,40.743537,1.0,2012.0,2.0,4.0,9.0,2.332711,4.158252
3,6.5,2015-05-22 17:32:27+00:00,-73.974388,40.746952,-73.988586,40.729805,1.0,2015.0,5.0,4.0,17.0,2.250858,2.887788
4,3.3,2011-05-17 14:03:00+00:00,-73.966378,40.804440,-73.965890,40.807133,5.0,2011.0,5.0,1.0,14.0,0.302252,10.918053

In [14]:
# Select features (X) and target variable (y)
X = df.drop(columns=['fare_amount']) # Drop target variable and other␣non-feature columns
y = df['fare_amount']

In [15]:
# Transformation des caractéristiques catégoriques en variables indicatrices (encodage one-hot)
X = pd.get_dummies(X)

In [16]:
df.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,year,month,weekday,hour,Distance_km,avg_per_km
0,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1.0,2015.0,5.0,3.0,19.0,1.683323,4.455474
1,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1.0,2009.0,7.0,4.0,20.0,2.457590,3.133151
2,9.7,2012-02-17 09:32:00+00:00,-73.975187,40.745767,-74.002720,40.743537,1.0,2012.0,2.0,4.0,9.0,2.332711,4.158252
3,6.5,2015-05-22 17:32:27+00:00,-73.974388,40.746952,-73.988586,40.729805,1.0,2015.0,5.0,4.0,17.0,2.250858,2.887788
4,3.3,2011-05-17 14:03:00+00:00,-73.966378,40.804440,-73.965890,40.807133,5.0,2011.0,5.0,1.0,14.0,0.302252,10.918053

In [17]:
# Division des données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# Initialisation et entraînement du modèle Random Forest
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

In [ ]:
# Prédiction sur l'ensemble de test
y_pred = model.predict(X_test)

In [ ]:
# Évaluation du modèle
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
mae = mean_absolute_error(y_test, y_pred)

In [ ]:
 # Validation croisée avec 5 plis
cv_scores = cross_val_score(model, X, y, cv=5, scoring='r2')
mean_r2 = cv_scores.mean()

In [ ]:
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("Mean R²:", mean_r2)